/* Main 페이지 */
.mainCont {max-width: 1600px; min-height: calc(100vh - 160px); margin: 0 auto;}

/* Banner */
.sliderBox {width: 100%; max-width:1600px; height: 400px; margin:0 auto; }
.sliderBox > img {width: 100%; max-width:max-content; background-color: #fff;}
/* #4D02C7 */
.sliderBox > a {display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; cursor: pointer; opacity: 1;}
.imgBox {height: 100%; flex: 2 0 62%; align-content: center;}
.imgBox img{width: 100%; height: 100%; object-fit: cover;}
.bannerText {height: 100%; flex: 2 0 38%;align-content: center; justify-content: center;}
.bannerText > p:first-child, .bannerText > p:nth-child(2) {text-align: center; padding-bottom: 5px; font-size: 36px; font-weight: 700;}
.bannerText > p:first-child {margin-left: -38px;}
.bannerText > p:nth-child(2) {padding-left: 68px; padding-bottom: 20px;}
.bannerText > p:nth-child(3) {font-size: 18px; font-weight: 600;text-align: center;}
.bannerInnerBtn {display: block; width: 60%; min-width: 150px; height: 50px; text-align: center; line-height: 50px; margin: 0 auto; margin-top: 40px; font-weight: 500; border-radius:50px; border: 1px solid #28282a; transition: background-color 300ms ease-in-out, color 300ms ease-in-out; cursor: pointer; }
.bannerInnerBtn_search {display: block; width: 60%; min-width: 150px; height: 50px; text-align: center; line-height: 50px; margin: 0 auto; margin-top: 40px; font-weight: 500; border-radius:50px; border: 1px solid #28282a; transition: background-color 300ms ease-in-out, color 300ms ease-in-out; cursor: pointer;background: calc(50% + 48px) / 24px no-repeat url('../../public/img/searchIcon.svg'), #ffffff;}
.bannerInnerBtn_sell {display: block; width: 60%; min-width: 150px; height: 50px; text-align: center; line-height: 50px; margin: 0 auto; margin-top: 40px; font-weight: 500; border-radius:50px; border: 1px solid #28282a; transition: background-color 300ms ease-in-out, color 300ms ease-in-out; cursor: pointer;background: calc(50% + 34px) / 24px no-repeat url('../../public/img/sellIcon.svg'), #ffffff;}
.bannerInnerBtn:hover {color: #ffffff; background-color: #28282a;}
.bannerInnerBtn_search:hover {color: #ffffff; background: calc(50% + 48px) / 24px no-repeat url('../../public/img/searchIcon_colored.svg'), #28282a;}
.bannerInnerBtn_sell:hover {color: #ffffff; background: calc(50% + 34px) / 24px no-repeat url('../../public/img/sellIcon_colored.svg'), #28282a;}

/* main contents */
.mainListBox {padding: 40px 20px; margin-top: 20px;}
.mainListTitle {padding-bottom: 20px; font-size: 24px; font-weight: 600;}

/* NEW section */
.mainListBox > ul { display: flex; justify-content: space-between; align-items: flex-start;}
.mainListBox > ul > li {width: calc(20% - 10px);}
.mainListBox > ul > li > a {display: flex; flex-direction: column; align-items: center; }
.mainListBox > ul > li:last-child {margin-right:0;}
.mainListBox > ul > li > a > div {width: 100%; overflow: hidden;}
.mainListBox > ul > li > a > div > img {width: 100%; transform: scale(1.0); transition: all .3s ease;}
.mainListBox > ul > li > a > div > img:hover {width: 100%; 
  transform: scale(1.75);}
.newText {width: 100%; text-align: left;}
.newText > p {padding-top: 10px; font-size: 16px; font-weight: 500;}
.newText > p:first-child {font-style: italic;}

/* Our Picks section */
.pickBox {padding: 0 50px;}
/* Center slick slide */
.centerList {padding: 10px;}
.centerList > a {display: block; margin: 10px; padding: 2%; position: relative; transition: all .3s ease;}
.centerList > a > img, .saleBox > ul > li > a > img {display: block;  width: 100%;}
.centerList .descriptText, .saleBox .descriptText {padding:10px 0;}
.centerList .descriptText > p, .saleBox .descriptText > p {font-size: 16px; font-weight: 500; color: #28282a;}
.centerList .descriptText > p:nth-child(2), .saleBox .descriptText > p:nth-child(2) {padding:5px 0; font-size: 14px; font-style: italic; color: #878787;}
.centerList .descriptText > p:last-child, .saleBox .descriptText > p:last-child {font-weight: 600;}

/* Sale List */
.saleBox { padding: 40px 20px;}
.saleBox > ul {display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px;}
.saleBox > ul > li { margin-bottom: 40px; }
.saleBox > ul > li > a {display: block;}


/* Promotion section */
.promoBox {padding: 40px 20px 100px; margin-top: 20px;}
.promoBox > ul {display: flex; justify-content: space-between; align-items: flex-start;}
/* flex: flex-grow | flex-shrink | flex-basis; */
.promoBox > ul > li:first-child {flex: 1 0 24.4%; align-self: stretch;}
.promoBox > ul > li:last-child {flex: 2 0 calc(62% - 10px); margin-left: 20px;}
.promoBox > ul > li > a {display: flex; flex-direction: column; align-items: center; height: 100%;}
.promoBox > ul > li > a > img {width: 100%; height: 100%;}
.promoBox > ul > li > a > video {height: 100%; width: 100%; object-fit: cover; object-position: center center; opacity: 1;}
.promoText {width: 100%; padding-top: 10px;}
.promoText > p {padding-top: 10px; font-weight: 500; color: #28282a;}
.promoText > p:first-child {font-size: 20px; }
.promoText > p:last-child {font-size: 16px; color: #878787;}

.artBox {max-width: 1600px;}
