/* Footer */
.footer_cont {display:flex; justify-content: center; align-items: center; width: 100%; height: 90px;  background-color: #fff; border-top: 1px solid rgba(0,0,0,0.1);}
footer {font-size: 14px; font-weight: 400;}
.footer_menu {display: flex; justify-content: space-between; width:100%; max-width: 500px; padding:0 20px; }
.footer_menu a { color: #878787; transition: color 300ms ease-in-out;}
.footer_menu a:hover { color: #28282A; transition: color 300ms ease-in-out;}
.footerRight p{color: #878787;}
.footerRight ul {justify-content: flex-end; padding-top: 10px; padding-bottom: 10px;}
.footerRight ul li:last-child {padding-right: 0;}
.footerRight a {display: flex; justify-content: center; align-items: center; width: 28px; height: 28px;}
.footerRight a img {width: 28px; height: 28px;}
